.brand{
    font-weight: 700;
    font-size: 30px;
    color: rgb(97, 88, 5);
}
header{
    background-color: #ddd;
    border-bottom: 0.5px solid #ccc;
    padding:15px;
    font-style: oblique;
}
.tl{
    color:#0007;
    width:100%;
    text-align: center;
}
.time{
    font-size: 1.7em;
}